.main-section {
  // .main-section__counter-box

  &__counter-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    text-align: center;
  }

  // .main-section__title

  &__title {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    color: #465775;
    text-align: center;
    margin-block: 10px;
  }

  // .main-section__counter

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    gap: 20px
  }

  // .main-section__decrement

  &__decrement {
    font-family: 'Roboto';
    font-size: 54px;
    background: none;
    color: #465775;
    cursor: pointer;
  }

  // .main-section__count

  &__count {
    font-family: 'Roboto';
    font-size: 20px;
    font-size: 54px;
    font-weight: 700;
    color: #465775;

    &--zero {
      font-family: 'Roboto';
      font-size: 20px;
      font-size: 54px;
      font-weight: 700;
      color: red;
    }
  }

  // .main-section__increment

  &__increment {
    font-family: 'Roboto';
    font-size: 34px;
    background: none;
    color: #465775;
    cursor: pointer;
  }

  // .main-section__reset-btn

  &__reset-btn {
    display: block;
    width: 100px;
    margin: 0 auto;
    background: #465775;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 700;
    padding: 10px 0;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
