// !breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;


// !MIXINS

@mixin viewport-md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin viewport-lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin viewport-xl {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin viewport-xll {
  @media screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}