@import 'fonts';
@import 'reset';
@import 'vars';


.container {
  padding: 0 30px;
  margin: 0 auto;
  // min-width: 250px;

  // від 0 до бескінечності

  @include viewport-md {
    // від 768 >
    max-width: 708px;
  }

  @include viewport-lg {
    // від 1024 >
    max-width: 964px;
  }

  @include viewport-xl {
    // від 1440 >
    max-width: 1380px;
  }

  @include viewport-xll {
    max-width: 1760px;
  }
}
